name: Node CI

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: 'pnpm'

      - name: Install packages
        run: pnpm install

      - name: Run tests
        run: pnpm test
